.main-chat
  .main-chat__header
    .main-chat__header__left
      .main-chat__header__left--current-group
        = @group.name
      .main-chat__header__left__member
        Member :
        .main-chat__header__left__member--list
          - @group.users.each do |user|
            = user.name
    .main-chat__header__btn
      = link_to edit_group_path(params[:group_id]), class: "main-chat__header__btn--link" do
        Edit

  .main-chat__message
    = render @messages

  .main-chat__form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: "main-chat__form__message", placeholder: "type a message"
      .main-chat__form__message__mask
        = f.label :image, class: "main-chat__form__message__mask__image" do
          = icon('fa','image')
          = f.file_field :image, class: "main-chat__form__message__mask__image--file"
      = f.submit 'Send', class: 'main-chat__form__submit'
